{% extends "store/base.html" %} {% load static %}
<br />

{% block title %}
<title>MrDollarStore | estore</title>
{% endblock title %} {% block content %}

<section class="section-content padding-y bg">
  <div class="container ">
    <!-- ============================ COMPONENT 1 ================================= -->

    <h4 class="text-dark  mb-10">Review Your Orders and Make Payment </h4>
    <div class="row ">
      <aside class="col-lg-8 ">
        <!-- card.// -->
        <div class="card text-center border border-warning">
          <h4 class="card-header border ">Billing Address</h4>
          <div class="card-body">
            <h6 class="card-title  mb-2">Full Name:  {{ order.full_name }}</h6>
            <h6 class="card-title  mb-1">Adress Line 1:  {{ order.full_address }}</h6>
            <h6 class="card-title mb-1">Address Line 2:  {{ order.city }}, {{ order.state }}</h6>
            
            <h6 class="card-title mb-2">Country of Resident: {{ order.country }}</h6>

            <h6 class="card-title mb-1">Tel:  {{ order.contacts }}</h6>
            <h6 class="card-title mb-1">Email Address:  {{ order.email }}</h6>
            
            {% if order.order_note %}
            <br>
            <p class="card shadow">

                <b class="text-muted">Sticky Order Notes: </b> {{ order.order_note}}
            </p>
            {% endif %}    
        </div>

        <!-- Payment Methods -->
        <div class="card text-center ">
          <h5 class="card-header border">Payment Methods</h5>
          <div class="card-body">
           
              <a href=""><p class="text-center mb-3">
                  <img
                  src="{% static './images/misc/payments.png' %}"
                  height="26"
                  />
                </p>
                <h5 class="text-center text-dark">&</h5>
                <h6 class="card-title text-muted"><img
                  src="{% static './images/momo.png' %}"
                  height="36"
                  /> Mobile Money...  <img
                  src="{% static './images/Airtel.png' %}"
                  height="56"
                </h6></a>
            
        </div>
        <div class="card text-center">
          <h5 class="card-header border border-warning p-2">Product Reviews</h5>
          <div class="card-body">
            <div class="card-body">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                      <tr class="small text-uppercase">
                        <th scope="col">Product</th>
                        <th scope="col" width="120">Quantity</th>
                        <th scope="col" width="120">Price</th>
                        
                    </thead>
                    <tbody>
                      {% for cart_item in cart_items %}
                      <tr>
                        <td>
                          <figure class="itemside align-items-center">
                            <div class="aside">
                              <img
                                src="{{ cart_item.product.images.url }}"
                                class="img-sm"
                              />
                            </div>
                            <figcaption class="info">
                              <a href="{{ cart_item.product.get_url }}" class="title text-dark"
                                >{{ cart_item.product.product_name }}</a
                              >
                              <p class="text-muted small">
                               
                               {% if cart_item.variations.all %}
                                  {% for item in cart_item.variations.all %}
                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }}
                                  {% endfor %}
                               {% endif %}
                                
                              </p>
                            </figcaption>
                          </figure>
                        </td>
                        <td>
                          <!-- col.// -->
                          <div class="col">
                            <div class="input-group input-spinner">
                                <label for="">{{ cart_item.quantity }}</label>    
                            </div>
                            <!-- input-group.// -->
                          </div>
                          <!-- col.// -->
                        </td>
                        <!-- col.//Cart Quantity -->
                        <td>
                          <div class="price-wrap">
                            <var class="price">UGX {{ cart_item.sub_total }}</var>
                            <small class="text-muted">UGX {{ cart_item.product.price }} each </small>
                          </div>
                          <!-- price-wrap .// -->
                        </td>
                        
                      </tr>
                      {% endfor %}
                
                        </td>
                        <br>
                        
                        
                      </tr>
                    </tbody>
                  </table>
            </div>
            
        </div>
      </aside>
      <!-- col.// -->
      <aside class="col-lg-4">
        <div class="card border">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">UGX {{ total }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">UGX {{ tax }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Grand Total:</dt>
              <dd class="text-right text-dark b">
                <strong>UGX {{ grand_total }}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img
                src="{% static './images/misc/payments.png' %}"
                height="26"
              />
            </p>
            <button type="submit" name="submit" img class="btn btn-block mb-3 text-dark" style="background:#f6ca00;"><img src="{% static 'images/momo.png' %}" style="height: 40px; width: 65px;" alt=""> Pay With MoMo Pay</button>

            <div id="paypal-button-container"></div>
            
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->

    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->



<script src="https://www.paypal.com/sdk/js?client-id=Act9Kk4zpLlUuv8RL0-kqHyJhn-9_STW2Jy16oU1UCLSD3dqYKa7RFNIoefecPNmzkG3UvgQ5OWRj14A&currency=USD"></script>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var amount = "{{ grand_total }}"
    var url = "{% url 'payments' %}"
    var csrftoken = getCookie('csrftoken');
    var orderID = "{{order.order_number}}";
    var payment_method = 'PayPal'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            color:  'blue',
            shape:  'rect',
            label:  'pay',
            height: 45
        },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Successful message to the user
               // alert('Transaction Completed successfully!');
                console.log(details);
               // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                sendData();
                
                function sendData() {
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                            'X-CSRFToken': csrftoken,
                        },
                        // Body Results
                        body: JSON.stringify({
                            orderID: orderID,
                            transID: details.id,
                            payment_method: payment_method,
                            status : details.status,
                        }),
                    })
                   // .then(response => response.json())
                   // .then(data => console.log(data));
                }

                
            });
        }


    }).render('#paypal-button-container');
</script>



{% endblock content %}
