{% extends "store/base.html" %} {% load static %}
<b></b>
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
{% include "store/includes/alert.html" %}

<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      {% include "store/includes/dashboard_sidebar.html" %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Change Your Password</strong>
            
          </header>
          <div class="card-body">
            
            <div class="row">
              <div class="col-md-12 mr-3">
                <form action="{% url 'change_profile_password' %}" method="POST">
                    {% csrf_token %}
                    
                   
                    <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Create New Password</label>
                        <input type="password" name="new_password" placeholder="New Password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password</label>
                        <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required>
                    </div>
                  
                    <input class="btn btn-warning" type="submit" value="Change Password">
                </form>
                
            </div>
            <!-- row.// -->
          </div>
        </article>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
