{% extends "store/base.html" %} {% load static %}
<b></b>
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
{% include "store/includes/alert.html" %}
<section class="section-conten padding-y bg">
  <div class="container">
    <div class="row">
      {% include "store/includes/dashboard_sidebar.html" %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            <strong class="d-inline-block mr-3">Logged In as:</strong>
            <span>{{ user.full_name}}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card" style="text-align: center">
                  <div class="card-body">
                    <h5 class="card-title">Your Total Orders</h5>
                    <h4>{{ orders_count }}</h4>
                    <a href="">View my Orders</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card" style="text-align: center">
                  <div class="card-body">
                    <img
                      class="img-fluid mb-3"
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt="Profile Picture"
                      width="70px"
                      height="70px"
                      style="border-radius: 50%"
                      class="center"
                    />
                    <p>{{user.email}}</p>
                    <p>{{user.phone_number}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- row.// -->
          </div>
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
