{% extends "store/base.html" %} {% load static %} {% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  <div class="card mx-auto shadow" style="max-width: 380px; margin-top: 100px">
    <div class="card-body">
      {% include "store/includes/alert.html" %}
      <h4 class="card-title mb-4">Password Reset</h4>
      <form action="{% url 'resetpassword' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            name="password"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm New Password"
            name="confirm_password"
          />
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <a href="{% url 'forgotpassword' %}" class="float-right text-warning"
            >Link Expired?</a
          >
        </div>
        <!-- form-group form-check .// -->
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-block">
            Reset Here
          </button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
