{% load static %}
<header class="section-header">
  <nav class="navbar navbar-expand-sm navbar-light border-bottom bg-secondary">
    <div class="container bg-secondary">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTop4"
        aria-controls="navbarTop4"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#" class="nav-link text-white d-flex align-items-center">
              <img style="height: 15px; margin-right: 5px;" src="{% static 'images/eng.png' %}" alt=""> EN
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white"> USD/UGX </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <i class="fa fa-envelope"></i> Email
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-white">
              <i class="fa fa-phone"></i> Call us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="header-main border-bottom py-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 col-md-3 col-lg-2">
          <a href="/" class="brand-wrap d-flex align-items-center">
            <img class="img-fluid" style="max-width: 120px; height: auto;" src="{% static 'images/logo1.png' %}" alt="Logo">
          </a>
        </div>
        <div class="col-md-3 col-lg-2 d-none d-md-block">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle w-100" type="button" data-toggle="dropdown">
              <i class="fa fa-bars"></i> Categories
            </button>
            <div class="dropdown-menu w-100">
              {% for category in links %}
              <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mt-2 mt-md-0">
          <form action="{% url 'search' %}" class="search" method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="keyword">
              <div class="input-group-append">
                <button class="btn btn-warning" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-6 col-md-3 col-lg-2 text-right">
          {% if user.id is None %}
          <div class="widget-header">
            <small class="title text-muted">Welcome Guest!</small>
            <div>
              <a href="{% url 'login' %}">Sign in</a> | <a href="{% url 'register' %}">Register</a>
            </div>
          </div>
          {% else %}
          <div class="widget-header">
            <small class="title text-dark">Hello, <a href="#">{{ user.first_name }}</a></small>
            <div>
              <a href="{% url 'my-dashboard' %}">Dashboard</a> | <a href="{% url 'logout' %}">Sign Out</a>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-6 col-md-3 col-lg-2 text-right">
          <a href="{% url 'carts' %}" class="widget-header d-flex align-items-center justify-content-end">
            <div class="icon icon-sm rounded-circle border d-flex align-items-center justify-content-center" style="width: 40px; height: 40px;">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <span class="badge badge-pill badge-warning ml-1">{{ cart_count }}</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</header>
